@charset "utf-8";
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex.gap-1 {
  gap: 0.5rem;
}
.flex.gap-2 {
  gap: 1rem;
}
.flex.gap-3 {
  gap: 1.5rem;
}
.flex.gap-4 {
  gap: 2rem;
}
.flex.gap-5 {
  gap: 2.5rem;
}
.flex.gap-6 {
  gap: 3rem;
}
.flex.gap-7 {
  gap: 3.5rem;
}
.flex.gap-8 {
  gap: 4rem;
}
.flex.col {
  flex-direction: column;
}
.font-bold {
  font-weight: bold;
}
.font-extra-bold {
  font-family: "ONE Mobile Title";
  font-weight: 300;
}
.bg-gray {
  background-color: var(--blue-gray);
}
.mt-auto {
  margin-top: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 2.5rem;
}
.mt-6 {
  margin-top: 3rem;
}
.mt-20 {
  margin-top: 10rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 2.5rem;
}
.mb-6 {
  margin-bottom: 3rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
.p-5 {
  padding: 2.5rem;
}
.p-6 {
  padding: 3rem;
}
.pt-1 {
  padding-top: 0.5rem;
}
.pt-2 {
  padding-top: 1rem;
}
.pt-3 {
  padding-top: 1.5rem;
}
.pt-4 {
  padding-top: 2rem;
}
.pt-5 {
  padding-top: 2.5rem;
}
.pt-6 {
  padding-top: 3rem;
}
.pb-1 {
  padding-bottom: 0.5rem;
}
.pb-2 {
  padding-bottom: 1rem;
}
.pb-3 {
  padding-bottom: 1.5rem;
}
.pb-4 {
  padding-bottom: 2rem;
}
.pb-5 {
  padding-bottom: 2.5rem;
}
.pb-6 {
  padding-bottom: 3rem;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-full {
  width: 100%;
}
.overflow-y-auto {
  overflow-y: auto;
}
.underline {
  text-decoration: underline;
}
input[type="submit"] {
  cursor: pointer;
}
.flex.items-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.text-primary {
  color: var(--primary);
}
.font-thin {
  font-weight: 300;
}
.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.text-gray {
  color: var(--text-gray);
}
.text-red {
  color: var(--red);
}
.text-point {
  color: var(--point);
}
.text-white {
  color: #fff;
}
.text-sm {
  font-size: 0.8rem;
}
.text-lg {
  font-size: 1.2rem;
}
.text-xl {
  font-size: 1.5rem;
}
.text-2xl {
  font-size: 2rem;
}
.font-sm {
  font-size: 12px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.main {
  padding: 1rem;
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}
.sub-header {
  padding: 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}
.sub-header .back,
.share-header .back {
  width: 35px;
  height: 35px;
  background: url(../images/common/arrow-left-bk.png) center left / 10px
    no-repeat;
}
.sub-header .sub-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "ONE Mobile Title";
  font-weight: 300;
}
.sub-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  background: url(../images/common/close.png) center / 12px no-repeat;
}
.share-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.share-header .logo {
  width: 120px;
  height: 55px;
  background: url(../images/main/logo.png) center / contain no-repeat;
}
.share-header .back {
  position: absolute;
  top: 50%;
  left: 0;
  background-position: center;
  translate: 0 -50%;
}
/* 팝업 */
.popup-container {
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8888;
  margin: 0 auto;
}
.popup-container .popup {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 95%;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 50px;
}
.popup-container header > .close {
  width: 50px;
  height: 50px;
  background: url(../images/common/close.png) center / 12px no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
.popup-container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 360px;
}
.popup-container .modal header {
  padding: 0 0 0 2rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.popup-container .modal .modal-title {
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
.popup-container .modal .cont {
  padding: 1rem 2rem 3.5rem;
  text-align: center;
  max-height: 400px;
  overflow-y: auto;
}
.popup-container .modal .cont.text-left {
  text-align: left;
}
.popup-container .modal .button-container {
  padding: 0 1.5rem 2rem;
}

/* 버튼 */
.btn {
  border-radius: 10px;
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 1rem;
}
.btn:disabled {
  color: #59d7b8;
}
.btn-full {
  width: 100%;
}
.btn-sm {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}
.btn-lg {
  padding: 1rem 2rem;
}
.btn-bk {
  background-color: var(--text);
  color: #fff;
}
.btn-bk:disabled {
  color: #5b5b5b;
}
.btn-gray {
  background-color: var(--gray);
  border: 0;
  color: var(--text);
}
.btn-gray:disabled {
  color: #e3e3e3;
}
.btn-disabled {
  background-color: var(--disabled);
  color: var(--text-disabled);
}
.btn-border {
  border: 1.5px solid var(--primary);
  background-color: #fff;
  color: var(--primary);
}
.btn-border-bk {
  border: 1.5px solid var(--text);
  background-color: #fff;
  color: var(--text);
}

/* 스크롤바 */
html::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
html::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
html::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--surface);
}

/* 내비게이션 */
.gnb-container {
  position: relative;
  z-index: 100;
}
.gnb-container .gnb {
  height: var(--nav-height);
}
.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 2rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: space-between;
}
.nav-container .nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.nav-container .nav .icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.nav-container .nav.home .icon {
  background-image: url(../images/common/nav-home.png);
}
.nav-container .nav.home.on .icon {
  background-image: url(../images/common/nav-home-on.png);
}
.nav-container .nav.howto .icon {
  background-image: url(../images/common/nav-howto.png);
}
.nav-container .nav.howto.on .icon {
  background-image: url(../images/common/nav-howto-on.png);
}
.nav-container .nav.my .icon {
  background-image: url(../images/common/nav-my.png);
}
.nav-container .nav.my.on .icon {
  background-image: url(../images/common/nav-my-on.png);
}
.nav-container .nav.menu .icon {
  background-image: url(../images/common/nav-menu.png);
}
.nav-container .nav.menu.on .icon {
  background-image: url(../images/common/nav-menu-on.png);
}
.nav-container .nav.on .title {
  font-weight: bold;
  color: var(--primary);
}

/* 페이지네이션 */
.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.pagination button {
  border-radius: 5px;
  background-color: #ebf0f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 40px;
  height: 40px;
  color: #c3c3c3;
}
.pagination button.prev span,
.pagination button.next span {
  width: 10px;
  height: 10px;
  background: url(../images/common/page-right.png) center / contain no-repeat;
}
.pagination button.prev span {
  rotate: 180deg;
}
.pagination button.on {
  background-color: var(--primary);
  color: #fff;
}

/* 탭 */
.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tabs .tab {
  flex: 1;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--border);
  text-align: center;
  color: var(--text-gray);
  cursor: pointer;
}
.tabs .tab.on {
  border-color: var(--primary);
  color: var(--primary);
  font-weight: bold;
}
.tabs + .cont section {
  display: none;
}
.tabs + .cont section.on {
  display: block;
}
.tabs.switch {
  width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
}
.tabs.switch .inner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--surface);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}
.tabs.switch .tab {
  border: 0;
  border-radius: 10px;
}
.tabs.switch .tab.on {
  background-color: #fff;
  color: var(--text);
}

/* 상품 아이템 */
.my-prod-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.my-prod-item {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.my-prod-item .label-sec {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 1rem;
  height: 100%;
  position: absolute;
}
.my-prod-item .label-sec.primary {
  background-color: var(--primary);
}
.my-prod-item.disabled .label-sec {
  background-color: var(--text-gray);
}
.my-prod-item .main-sec {
  flex: 1;
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
}
.my-prod-item .label-sec + .main-sec {
  padding-left: 2rem;
}
.my-prod-item .main-sec .lt {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.my-prod-item .main-sec .lt .mall {
  display: flex;

  gap: 2px;
  align-items: center;
}
.my-prod-item .main-sec .lt .mall:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../images/common/shopping.png) center / contain no-repeat;
}
.my-prod-item .main-sec .lt .review {
  width: fit-content;
  padding: 3px 8px;
  border-radius: 50px;
  color: #fff;
  background-color: var(--primary);
  font-size: 0.8rem;
  margin: 3px 0;
}
.my-prod-item .main-sec .lt .review.disabled {
  background-color: var(--border);
}
.my-prod-item .main-sec .rt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.my-prod-item .main-sec .rt > .button {
  border-radius: 5px;
  border: 1.5px solid var(--primary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.my-prod-item .main-sec .rt > button {
  border-color: var(--border);
}
.my-prod-item .main-sec .rt.gray > button {
  border-color: var(--border);
}
.my-prod-item .main-sec .rt .qr .icon {
  width: 20px;
  height: 20px;
  background: url(../images/common/qr-code-primary.png) center / contain
    no-repeat;
}
.my-prod-item .main-sec .rt .details .icon {
  width: 20px;
  height: 20px;
  background: url(../images/common/details.png) center / contain no-repeat;
}
.my-prod-item .main-sec .rt.gray .details .icon {
  background-image: url(../images/common/details-gray.png);
}
.my-prod-item .main-sec .rt .data .icon {
  width: 20px;
  height: 20px;
  background: url(../images/common/search.png) center / contain no-repeat;
}
.my-prod-item .main-sec .rt.gray .data .icon {
  background-image: url(../images/common/search-disabled.png);
}
.my-prod-item.disabled .main-sec .rt .data .icon {
  background-image: url(../images/common/search-disabled.png);
}
.my-prod-item .main-sec .rt .txt {
  color: var(--primary);
  font-weight: 500;
  font-size: 0.8rem;
}
.my-prod-item .main-sec .rt.gray .txt {
  color: var(--text-gray);
}
.my-prod-item.disabled .main-sec .rt .txt {
  color: var(--text-gray);
}
.my-prod-item.on .main-sec {
  background-color: var(--primary);
}
.my-prod-item.on .label-sec {
  background-color: #21856c;
}
.my-prod-item.on .text {
  color: #fff;
}

/* 데이터 조회 */

.data-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.data-info.bb {
  border-bottom: 2px solid var(--primary);
}
.data-info .title {
  display: flex;
  gap: 0.5rem;
}

/* 셀렉트박스 */
.select-box {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  width: max-content;
}
.select-box.calendar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.select-box.calendar:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../images/common/icon-calendar.png) center / contain no-repeat;
}
.select-box.calendar select {
  padding: 1rem 1rem 1rem 0.5rem;
  font-size: 1.2rem;
}

/* 인풋 */
.input {
  border: 1px solid var(--border);
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  width: 100%;
}
.input.input-gray,
.input-with-button.input-gray,
.input-with-button.input-gray input {
  background-color: var(--blue-gray);
  border: 0;
}
.input input {
  width: 100%;
}
.input:disabled,
.input.disabled,
.input input:disabled {
  background-color: var(--disabled);
}
.input-with-button {
  border: 1px solid var(--border);
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.input-with-button input {
  flex: 1;
}
.input-with-button .btn-sm {
  padding: 0.5rem;
  font-size: 1rem;
}
.input:disabled,
.input-with-button input:disabled {
  border: 1px solid var(--blue-gray);
  background-color: var(--blue-gray);
  color: var(--text-gray);
}
.input-with-button.disabled {
  background-color: var(--blue-gray);
}
button.zoom {
  width: 20px;
  height: 20px;
  background: url(../images/common/zoom-primary.png) center / 14px no-repeat;
}
/* 스위치 토글 */
.toggle {
  width: 100%;
}

.toggle label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}

.toggle input {
  appearance: none;
  position: relative;
  border-radius: 1.25em;
  width: 3.5rem;
  height: 2rem;
  background-color: var(--blue-gray);
  transition: all 0.3s;
}

.toggle input::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 2px;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: white;
  transition: left 250ms linear;
}

.toggle input:checked {
  background-color: var(--primary);
}

.toggle input:checked::before {
  left: auto;
  right: 2px;
}

.toggle input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.toggle input:disabled:before {
  background-color: lightgray;
}

.toggle input:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.toggle input:enabled:hover,
.toggle input:focus-visible {
  box-shadow: 0 0 0 max(4px, 0.2em) rgba(0, 0, 0, 0.1);
}

/* 동글 체크 박스 */
.chk-circle {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.chk-circle input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
}
.chk-circle label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.chk-circle label:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/common/chk-circle-off.png) center / contain
    no-repeat;
}
.chk-circle input:checked + label {
  color: var(--primary);
}
.chk-circle input:checked + label:before {
  background-image: url(../images/common/chk-circle-on.png);
}

/* 기본 체크 박스 */
.chk {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.chk input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
}
.chk label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.chk label:before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/chk-off.png) center / contain no-repeat;
}
.chk input:checked + label {
  font-weight: bold;
}
.chk input:checked + label:before {
  background-image: url(../images/common/chk-on.png);
}

/* 스피너 */
.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}
.loader-container .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 130px;
  background: url(../images/common/loading.gif) center / contain no-repeat;
  translate: -50% -50%;
}

/* 검색 결과 */
.search-list {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
}
.search-list.show {
  display: block;
}
.search-list .inner {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-height: 10rem;
  overflow-y: auto;
}
.search-item {
  /* font-size: 0.8rem; */
}
.search-item:focus,
.search-item:hover,
.search-item.on {
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}
input[type="password"] {
  font-family: "Noto Sans Kr";
}
