@charset "utf-8";
@import url("/assets/css/reset.css");
@import url("/assets/css/global.css");

:root {
  --primary: #1cbf97;
  --border: #d9d9d9;
  --text: #333;
  --text-gray: #999;
  --surface: #f5f5f5;
}

#wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.top-notice {
  padding: 0.2rem 1rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-notice .icon {
  width: 15px;
  height: 15px;
  background: url(../images/main/speaker.png) center / contain no-repeat;
}
.top-notice span {
  color: #abe050;
}
.top-notice .close {
  width: 45px;
  height: 45px;
  background: url(../images/common/close-white.png) center / 10px no-repeat;
}

/* 헤더 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.header .logo {
  width: 120px;
  height: 55px;
  background: url(../images/main/logo.png) center / contain no-repeat;
}
.header .btns {
  display: flex;
  align-items: center;
}
.header .btns a {
  width: 40px;
  height: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.header .btns a.customer {
  background-image: url(../images/common/customer.png);
}
.header .btns a.alarm {
  background-image: url(../images/main/bell.png);
}
.header .btns a.alarm.on {
  background-image: url(../images/main/bell_on.png);
}

/* 검색 */
.main .search-box {
  margin-top: 2rem;
}
.main .search-box button {
  border: 2px solid var(--primary);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  text-align: left;
}
.main .search-box button .zoom {
  width: 15px;
  height: 15px;
  background: url(../images/main/zoom.png) center/ contain no-repeat;
}
.main .search-box button .txt {
  flex: 1;
}
.main .search-box button .arrow {
  width: 15px;
  height: 15px;
  background: url(../images/main/arrow-right-primary.png) center/ contain
    no-repeat;
}

/* 메인 배너 */
.swiper-slide img {
  border-radius: 20px;
}

/* 인기국가 */
.popular-country {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.popular-country .item {
  position: relative;
  width: calc(50% - 0.5rem);
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-country .item.japan {
  background-image: url(../images/main/country/bg-japan.png);
}
.popular-country .item.usa {
  background-image: url(../images/main/country/bg-usa.png);
}
.popular-country .item.vietnam {
  background-image: url(../images/main/country/bg-vietnam.png);
}
.popular-country .item.philiphines {
  background-image: url(../images/main/country/bg-philiphines.png);
}
.popular-country .item.france {
  background-image: url(../images/main/country/bg-france.png);
}
.popular-country .item.taiwan {
  background-image: url(../images/main/country/bg-taiwan.png);
}
.popular-country .item .flag {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  background-size: contain;
}

.popular-country .item.japan .flag {
  background-image: url(../images/main/country/flag-taiwan.png);
}
.popular-country .item.usa .flag {
  background-image: url(../images/main/country/flag-usa.png);
}
.popular-country .item.vietnam .flag {
  background-image: url(../images/main/country/flag-vietnam.png);
}
.popular-country .item.philiphines .flag {
  background-image: url(../images/main/country/flag-philiphines.png);
}
.popular-country .item.france .flag {
  background-image: url(../images/main/country/flag-france.png);
}
.popular-country .item.taiwan .flag {
  background-image: url(../images/main/country/flag-taiwan.png);
}
.popular-country .item .name {
  font-weight: 500;
  color: #fff;
}

/* 서비스 살펴보기 */
.service {
  width: calc(50% - 0.5rem);
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.service01 {
  background-image: url(../images/main/service01.png);
}
.service02 {
  background-image: url(../images/main/service02.png);
}
.referral-banner img {
  border-radius: 20px;
}

/* 푸터 */
footer {
  padding: 2rem;
  border-top: 5px solid var(--surface);
}
footer .logo-gray {
  width: 100px;
  height: 30px;
  background: url(../images/footer/logo_gray.png) center / contain no-repeat;
  margin: 1rem 0;
}
footer .sns {
  width: 30px;
  height: 30px;
  background-size: contain;
}
footer .sns.kakao {
  background-image: url(../images/footer/kakao.png);
}
footer .sns.instagram {
  background-image: url(../images/footer/insta.png);
}

/* 알림 */
.noti-container .item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.noti-container .item .cont {
  flex: 1;
}
.noti-container .item .cont > * {
  display: block;
}
.noti-container .item.new .dot {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
}
.noti-container .item .cont .category .top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.noti-container .item .cont .category .icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.noti-container .item .cont .category.notice .icon {
  background-image: url(../images/common/icon-bell.png);
}
.noti-container .item .cont .category.event .icon {
  background-image: url(../images/common/event.png);
}
.noti-container .item .cont .category.warn .icon {
  background-image: url(../images/common/warn.png);
}
.noti-container .item .cont p {
  font-size: 16px;
}

/* 나라 선택 팝업 */
.popup .select-country {
  height: 100%;
}
.popup .select-country .search-box {
  display: flex;
  justify-content: space-between;
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 0 1rem;
}
.popup .select-country .search-box #search {
  background-color: var(--surface);
  flex: 1;
}
.popup .select-country .search-box label {
  width: 15px;
  height: 15px;
  background: url(../images/common/zoom-primary.png) center / contain no-repeat;
}
.popup .select-country .country-box {
  margin-top: 1rem;
}
.popup .select-country .country-tabs-container {
  overflow-x: auto;
  width: 100%;
}

.popup .select-country .country-tabs-container::-webkit-scrollbar {
  display: none;
}
.popup .select-country .country-tabs {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  border-bottom: 1px solid var(--border);
  padding: 0 1rem;
}
.popup .select-country .country-tabs .country-tab {
  padding: 0.5rem 1rem;
}
.popup .select-country .country-tabs .country-tab.on {
  color: var(--primary);
  font-weight: bold;
  position: relative;
}
.popup .select-country .country-tabs .country-tab.on:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  width: 10px;
  height: 6px;
  background: url(../images/common/tab-on.png) center / contain no-repeat;
}
.popup .select-country .country-results {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: calc(95vh - 25rem);
  overflow-y: auto;
  align-content: flex-start;
}
.popup .select-country .country-results .item {
  width: calc(33.33% - 0.34rem);
  height: 4rem;
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.popup .select-country .country-results .item.on {
  background-color: var(--primary);
  color: #fff;
}
.popup .select-country .bt-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--surface);
}
.popup .select-country .selected-box {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  max-height: 7rem;
  overflow-y: auto;
  padding: 1rem;
}
.popup .select-country .selected-box .item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.popup .select-country .selected-box .item .name {
  flex: 1;
}
.popup .select-country .selected-box .item .close {
  width: 10px;
  height: 10px;
  background: url(../images/common/close.png) center / contain no-repeat;
}
